body {
    font-family: sans-serif;
    background-color: black;
}


header p {
    color: white;
    text-align: center;
    font-size: 25px;
    border: 5px solid white;
    padding: 30px;
    border-radius: 20px;
} 

a {
    font-size: 20px;
    color: white;
    border: 3px solid white;
    padding: 10px;
    margin: 155px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    font-size: 25px;
    transition: 0.5s linear;
    color: royalblue;
    border: 3px solid royalblue;
}


header p:hover {
    font-size: 30px;
    color: royalblue;
    border: 6px solid royalblue;
    transition: 0.3s linear;
}

h1 {
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    border-bottom: 3px solid white;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: white;
}

iframe:hover {
    width: 550px;
    height: 450px;
    transition: 1s linear;
}

span {
    font-size: 30px;
    color: royalblue;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: white;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
}

h5 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.hh {
    margin-right: 70px;
    margin-left: 80px;
}

.gg {
    margin-left: 70px;
}

.logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    width: 100px;
    height:70px;
    background-color: black;
}
